body {
}

.positive
{
    background-color:rgba(134, 222, 134, 0.6);
    color:white;
  
}

.negative
{   
    color:white;
    background-color:rgba(255, 0, 0, 0.6);
}

.neutral
{
    color:white;
    background-color:rgba(245, 229, 213, 0.6);
}


