@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span style="color:white">Video URL</span>
            <input type="text" placeholder="For example:lyZQPjUT5B4" id="videoUrl">
           <span style="color:white">First try</span> :<button id="proba">Lekeres</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6" id="highchart1">

        </div>
        <div class="col-sm-6" id="highchart">

        </div>
    </div>
</div>

