@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/apiCallsAndHighcharts.js"></script>



<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div  id="searchArea"class="col-sm-4">
            <span style="color:white">Video URL: </span>
            <input type="text" placeholder="For example:lyZQPjUT5B4" id="videoUrl">
            <button id="proba" class="fa fa-search"></button>  
            <button id="downloadTextFile" onclick="saveTextFile()" style="visibility:hidden"> Download </button> 
        </div>
        <div class="col-sm-4"></div>
    </div>



</div>

<div id="chartSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" id="highchart1">
          
            </div>
            <div class="col-sm-4" id="highchart">

            </div>
            <div class="col-sm-4" id="highchart3">

            </div>
        </div>
    </div>
</div>

<div id="commentSection">
    <div class="container">
        <div class="row">

            <div class="col-sm-6" id="vaderComments" >
            
            </div>
      
            <div class="col-sm-6" id="naiveComments">

            </div>


        </div>
    </div>
</div>

