@{
    ViewBag.Title = "Home Page";
}

<script>

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
    });
</script>


<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div id="searchArea" class="col-sm-4">
            <span style="color:white">Video URL: </span>
            <input type="text" placeholder="www.youtube.com/watch?v=ywWBy6J5gz8" data-toggle="tooltip" data-placement="bottom" title="Enter a valid video URL that you would like to analyze" id="videoUrl">
            <button id="proba" class="fa fa-search"></button>
            <button id="downloadTextFile" data-toggle="tooltip" data-placement="right" title="Download a text file which contains the comments" onclick="saveTextFile()" style="visibility:hidden" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-cloud-download"></span> Download Text File</button>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

<div class="container" id="youtubeContainer" style="display:none;">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 video-container" id="youtubeVideoBox"></div>
        <div class="col-sm-1"></div>
    </div>
</div>

<div id="chartSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" id="highchart1">

            </div>
            <div class="col-sm-4" id="highchart">

            </div>
            <div class="col-sm-4" id="highchart3">

            </div>
        </div>
    </div>
</div>

<!--Please wait modal-->
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
     role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>Retrieving comments.This may take a few minutes.
                </h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info
                    progress-bar-striped active"
                         style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Error message modal-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title">Sorry!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Make sure you inserted a valid video url.The service might be down,please try again.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>     

<div id="commentSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 bs-example">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">VaderSharp Analysis</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body" id="vaderComments">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 bs-example">
                <div class="panel-group" id="accordion2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Naive Analysis</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body" id="naiveComments">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





