@{
    ViewBag.Title = "Home Page";
}

<script>

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
    });
</script>


<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div  id="searchArea"class="col-sm-4">
            <span style="color:white">Video URL: </span>
            <input type="text" placeholder="For example:lyZQPjUT5B4" id="videoUrl">
            <button id="proba" class="fa fa-search"></button>  
            <button id="downloadTextFile"   data-toggle="tooltip" data-placement="right" title="Download a text file which contains the comments" onclick="saveTextFile()" style="visibility:hidden"  class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-cloud-download"></span> Download Text File</button> 
        </div>
        <div class="col-sm-4"></div>
    </div>
</div> 

<div class="container" id="youtubeContainer" style="display:none;">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 video-container" id="youtubeVideoBox"></div>
        <div class="col-sm-1"></div>
    </div>
</div>

<div id="chartSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" id="highchart1">
          
            </div>
            <div class="col-sm-4" id="highchart">

            </div>
            <div class="col-sm-4" id="highchart3">

            </div>
        </div>
    </div>
</div>

<div id="commentSection">
    <div class="container">
        <div class="row">

            <div class="col-sm-6" id="vaderComments" >
            
            </div>
      
            <div class="col-sm-6" id="naiveComments">

            </div>


        </div>
    </div>
</div>

